<!-- your html code here -->

<div class="container-sm">
  <section class="container-md">
    <h2>Contact</h2>
    <p>
      Donec ullancorper nulla non metos auctor fringilla.Vestibulum id
      ligula porta felis euismod semper. Praesent commodo cursus magna,vel
      scelerisque nisl consectutur.Fusce dapibus,tellus ac cursus commodo.
    </p>
  </section>

  <section class="container-md card mt-5 p-5">
    <div>
      <form>
        <div class="row">
          <label class="col-4 fw-bold" for="email">Your E-mail</label>
          <input id="email" class="col-8" type="text" />
        </div>
        <div class="row mt-5">
          <label class="col-4  fw-bold" for="comment">Your comment</label>
          <textarea class="col-8" name="comment" id="comment" rows="4"
            placeholder="Please enter your message here..."></textarea>
        </div>
        <div class="row justify-content-end mt-5">
          <button type="button" class="btn-form-contact btn btn-primary">Submit</button>
          </button>
        </div>
      </form>
    </div>
  </section>
</div>