<!-- your html code here -->
<!-- !ERROR: Alba pasa algo con los link cuando haces mas pequeña la pantalla se desaparecen y no sale un boton ni nada si puedes mirarlo, SOLO ACONSEJO -->
<nav class="navbar navbar-expand-md bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#">Start Bootstrap</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <i class="bi bi-list"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="#">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>